SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_KEY="YOUR_SUPABASE_KEY"
JWT_SECRET="YOUR_JWT_SECRET"
HF_TOKEN="YOUR_HF_TOKEN"
# OPENROUTER_API_KEY="YOUR_OPENROUTER_API_KEY"
MAIAROUTER_API_KEY="YOUR_MAIAROUTER_API_KEY"
# CREDENTIALS_PATH="./gcp-oauth.keys.json"